################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EN5Player/.vs/EN5Player/v15
/EN5Player/bin/Debug
/EN5Player/obj/Debug
/EN5Player/packages/DotNetZip.1.10.1
packages
/EN5Player/Properties/AssemblyInfo.cs
/EN5PlayerSetup/bin/Debug
/EN5PlayerSetup/obj/Debug
